/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    background-color: #33333395;
    color: white;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

section {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.converter {
    margin: 10px;
}

input[type="number"] {
    width: 100px;
    padding: 5px;
    font-size: 16px;
}

button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}
